.c-nav {
    width: 100%;
    position: relative;
}

.c-hamburger__inner::after,
.c-hamburger__inner::before,
.c-hamburger__inner {
    background-color: $default;
}

.c-hamburger__inner--active::after,
.c-hamburger__inner--active::before {
    background-color: white;
}

.c-menu {
    overflow: hidden;

    &--disactive {
        width: 0;
        padding-left: 0;
        padding-right: 0;
    }

    @media #{$laptop} {
        height: auto;
        width: 100%;
        padding: 2rem 1rem;
        color: $default;
        overflow: visible;
    }
}

.c-menu-nav {
    &__link {

        &--active {
            border-bottom: 1px solid $default;
        }
    }

    @media #{$laptop} {

        &__link {
            &:hover {
                border-bottom: 1px solid $default;
            }
        }
    }
}




.c-header-section {

    padding: 0;
    width: 100%;

    &__title {
        color: $secondary;
        font-size: calc(50px + (72 - 24) * ((100vw - 300px) / (1600 - 300)));
        margin: 2rem 0;
    }

    @media #{$laptop} {
        padding: 0;
    }
}

.l-footer {
    margin-top: 5rem;
}