.c-header-section {
    color: $secondary;
    grid-column: span 12;

    &__title {
        @include center;
    }
}

.l-pricer {
    @include grid;
    column-gap: 0;

    &>* {
        grid-column: span 12;
    }

    @media #{$small-tablet} {


        &>* {
            grid-column: span 6;

        }
    }

    @media #{$wide} {
        &>* {
            grid-column: span 4;
        }

    }
}

.c-pricer {
    width: 100%;
    max-width: 50rem;
    padding: 1rem;

    color: black;

    &__title {
        font-size: 2.8rem;
        color: $ortopediaColor;
    }


    &__item-titles {
        padding: .5rem 0;
    }


    &__sub-item {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        background-color: rgba($color: $ortopediaColor, $alpha: .6);

        &:nth-child(2n) {
            background-color: rgba($color: $ortopediaColor, $alpha: .2);
        }

    }

    &__item-title {
        font-weight: normal;
        max-width: 34ch;
    }


    &__sub-item-price {
        font-weight: bold;
        width: 9ch;

    }

    &:nth-child(2) {

        .c-pricer__sub-item {
            background-color: rgba($color: $default, $alpha: .2);

            &:nth-child(2n) {
                background-color: rgba($color: $default, $alpha: .6);
            }
        }

        .c-pricer__title {
            color: $default;
        }
    }

    &:nth-child(3) {
        .c-pricer__sub-item {
            background-color: rgba($color: $regeneracjaColor, $alpha: .4);
        }

        .c-pricer__title {
            color: $regeneracjaColor;
        }

        .c-pricer__sub-item {
            &:nth-child(2) {
                margin-bottom: 4rem;
            }

            &:nth-child(4) {
                margin-bottom: 4rem;
            }
        }
    }

}