.c-header-section {
    color: $secondary;
    grid-column: span 12;

    &__title {
        @include center;
    }
}

.l-pricer {
    @include grid;
    column-gap: 0;

    &>* {
        grid-column: span 12;
    }

    @media #{$small-tablet} {


        &>* {
            grid-column: span 6;

        }
    }

    @media #{$wide} {
        &>* {
            grid-column: span 4;
        }

    }
}

.c-pricer {
    width: 100%;
    max-width: 50rem;
    padding: 1rem;

    color: black;

    &__item {
        padding-bottom: 2rem;
    }

    &__title {
        font-size: 2.8rem;
        color: $ortopediaColor;
    }

    &__item-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: $ortopediaColor;
        padding: 1rem;
        color: white;
        cursor: pointer;
        transition: border-radius .5s;

        &--active {
            border-radius: 10px 10px 0 0;
        }
    }

    &__item-title,
    &__item-titles-wrapper {
        pointer-events: none;
    }

    &__item-titles {
        padding: .5rem 0;
    }

    &__item-title-icon {
        transition: transform 0.5s;
        pointer-events: none;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__sub-item {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        background-color: rgb(219, 219, 219);
        display: flex;
        justify-content: space-between;


        &:nth-child(2n) {
            background-color: rgb(161, 161, 161);
        }

        &:last-child {
            border-radius: 0 0 10px 10px;
        }
    }

    &__sub-list {
        max-height: 0;
        transition: max-height 0.5s;
        overflow: hidden;
    }

    &__sub-item-price {
        font-weight: bold;
    }

    &:nth-child(3) {
        .c-pricer__item-title-wrapper {
            background-color: $regeneracjaColor;
        }

        .c-pricer__title {
            color: $regeneracjaColor;
        }
    }

    &:nth-child(2) {

        .c-pricer__item-title-wrapper {
            background-color: $default;
        }

        .c-pricer__title {
            color: $default;
        }
    }
}