.l-doctors {
    @include grid;


    @media #{$laptop} {
        padding: 0 10%;
    }
}

.c-doctor {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;


    &__img {
        object-fit: scale-down;
        height: 40rem
    }

    &__more {
        padding: 2rem;
    }
}