.c-gallery {
    text-align: center;
    line-height: 0;
    padding: 0 7%;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;

    &__img {
        width: 100%;
        // max-width: 30rem;
        height: auto;
        padding: 2rem;
        transition: transform .2s;



        &:hover {
            transform: scale(1.01);
        }
    }



}

@media #{$phone} {
    .c-gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media #{$small-tablet} {
    .c-gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media #{$laptop} {
    .c-gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media #{$wide} {
    .c-gallery {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media #{$desktop} {
    .c-gallery {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }
}