.l-header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(89, 83, 83, 1) 100%);
}

.c-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    &__img {
        width: 100%;
    }

    @media #{$laptop} {
        background-color: white;
    }
}

.c-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    background-color: white;
    height: 100vh;
    text-align: center;
    z-index: 100;
    right: 0;
    top: 0;
    padding: 2rem 1rem;
    transition: transform .3s ease-in-out,
        width .3s ease-in-out;

    &--disactive {
        transform: translateX(25rem);

    }

    @media #{$laptop} {
        position: static;
        background-color: transparent;
        width: 100%;
        transform: translateX(0);
        height: 100%;
        min-height: 100%;
        margin-bottom: 0rem;
        color: white;
    }


}

.c-socials {
    @include center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 3rem;

    &__link {
        padding: 1rem 1.5rem;
    }

    @media #{$laptop} {
        display: none;
    }

    @media (max-height: 490px) {
        display: none;
    }

}

.c-menu-nav {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: $default;

    &__item {
        padding: 1.5rem 0;
        white-space: nowrap;

        &:nth-child(3) {
            position: relative;

            &:hover>ul {
                max-height: calc(75px * 4);
            }
        }
    }

    &__sub-item {
        display: none;
    }

    &__icon {
        display: none !important;
    }



    @media (max-height: 490px) {
        font-size: 1rem;
    }

    @media #{$laptop} {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        padding: 0 3rem;

        &__link {
            padding: 1rem;

            &:hover {
                border-bottom: 1px solid $default;
            }
        }

        &__link {
            padding: 1rem 0;

            &--active {
                border-bottom: 1px solid $default;
            }
        }

        &__sub-item {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            transform: translateX(-30%);
            background-color: white;
            color: $default;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s;
            z-index: 100;
        }

        &__icon {
            display: inline !important;
        }

        &__sub-item-link {
            padding: 2rem;
            margin-top: 2rem;
        }
    }

    @media #{$wide} {
        padding: 0 10% 0 20%;
    }
}

.c-most-popular {
    padding: 1rem 0;
    font-size: 1rem;

    &__item {
        padding: 1rem;
        text-align: start;
    }

    @media (max-height: 490px) {
        font-size: 1rem;

        &__item {
            padding: 0.5rem;
        }
    }

    @media #{$laptop} {
        display: none;
    }
}

.c-contact-ham {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;


    @media #{$laptop} {
        display: none;
    }
}


.c-hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 0;
    margin: 0;
    z-index: 99;
    transition: transform .3s ease-in-out;

    &--active {
        transform: translate(-25rem);

    }

    &__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }


    &__inner {
        @include hamburger-line;

        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background .3s ease-in-out;

        &--active {
            background-color: transparent;
        }
    }

    &__inner::before,
    &__inner::after {
        @include hamburger-line;

        content: '';
        left: 0;
        transition: transform .3s ease-in-out;
    }

    &__inner::before {
        top: -10px;
    }

    &__inner--active::before {
        transform: translateY(10px) rotate(-45deg);

    }

    &__inner::after {
        top: 10px;
    }

    &__inner--active::after {
        transform: translateY(-10px) rotate(45deg);
        background-color: white;
    }

    @media #{$laptop} {
        display: none;
    }
}

.l-header-section-wrapper {
    height: 100%;
    transition: transform 1s ease-in-out;
}

.swiper-container {
    height: 100%;
    position: static !important;
}

.c-header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;


    &--second {
        .c-header-section__title {
            font-size: calc(24px + (90 - 24) * ((100vw - 300px) / (1600 - 300)));
            color: white;
        }
    }

    &--third {
        .c-header-section__title {
            font-size: calc(30px + (90 - 30) * ((100vw - 300px) / (1600 - 300)));
            color: $regeneracjaColor;
        }

        @media #{$small-tablet} {

            .c-header-section__title {
                text-align: start;

            }
        }
    }

    &__title {
        font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
        font-weight: bold;
        color: $ortopediaColor;
        letter-spacing: .7rem;
        z-index: 5;
        text-align: center;
        margin-top: 2rem;
    }

    &__img-wrapper {
        height: 100%;
        opacity: 40%;
        position: absolute;
    }

    &__img {
        height: 100%;

    }

    @media #{$small-tablet} {
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 2rem;


        &__title {
            letter-spacing: 1.7rem;
        }

        &__img-wrapper {
            position: absolute;
            right: 0;
        }
    }

    @media #{$laptop} {
        padding-left: 10rem;
    }

    @media #{$wide} {
        padding-left: 3%;

        &__img-wrapper {
            right: 5%;
        }
    }
}

.c-header-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: center;
    color: rgb(37, 37, 37);
    z-index: 2;
    max-width: 50rem;
    margin-bottom: 16rem;

    &__item {
        padding: .5rem 1rem;
    }

    @media #{$small-tablet} {
        width: 75%;
        max-width: 65rem;
        justify-content: flex-start;
        font-size: 1.5rem;

        &__item {
            padding: 1rem 2rem;
        }
    }

    @media #{$laptop} {
        font-size: 2rem;
    }

    @media #{$wide} {
        max-width: 100rem;
    }
}

.c-phone-wrapper {
    background-color: $regeneracjaColor;
    width: 100%;
    height: 3rem;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5rem;

    &__number {
        margin-left: 1rem;
    }

    &__phone {
        display: flex;
        align-items: center;
    }

    @media #{$small-tablet} {
        height: 5rem;
        justify-content: space-around;
        font-size: 2.5rem;
    }
}

.c-social-list {
    display: none;

    @media #{$small-tablet} {
        display: flex;

        &__link {
            padding: 1rem;
        }

        &__social {
            font-size: 2.5rem
        }
    }
}

.swiper-pagination {
    bottom: 1rem !important;
    z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
    color: $default !important;
}

.bg-menu {
    background-color: rgba(90, 89, 89, .9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: .5s ease-in-out;
    transform: translateX(-100%);
}

.bg-menu--active {
    transform: translateX(0);
}

#cookiesEU-box {
    position: fixed !important;
    bottom: 20px;
    border-radius: 10px;
}

.cookiesEU-text {
    bottom: 0;
    background-color: transparent;
    color: $default;

}