.c-cards {
    @include grid;
    margin-left: 5%;
    margin-right: 5%;


    &__card {
        height: 40rem;
        min-width: 100%;
        max-width: 37rem;
        position: relative;
        color: white;

        &:nth-child(1) {
            background: url('./../../assets/pic1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(2) {
            background: url('./../../assets/pic2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(3) {
            background: url('./../../assets/3pic.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(4) {
            background: url('./../../assets/pic2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(5) {
            background: url('./../../assets/pic2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }


    }

    &__more {
        position: absolute;
        cursor: pointer;
        overflow: hidden;
        bottom: 0;
        padding: 2rem;
        background-color: rgba($color: #666, $alpha: 0.9);
        height: 40%;
        width: 100%;
        transition: height .2s;
    }

    &__desc {
        color: rgb(230, 230, 230);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    @media (max-width: 480px) {
        column-gap: 0;
    }

    @media #{$laptop} {

        &__card:hover &__more {
            height: 100%;

        }

        &__card:hover &__desc {
            overflow: visible;

            display: -webkit-box;
            -webkit-line-clamp: unset;


        }
    }

    @media #{$desktop} {
        grid-template-columns: repeat(10, 1fr);

        &>* {
            grid-column: span 2;
        }
    }
}