$default: #666;
$line-h: 1.8;
$secondary: rgb(66, 66, 66);


$phone: "(min-width: 480px)";
$small-tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$wide: "(min-width: 1350px)";
$super-wide: "(min-width: 1351px)";