$default: #666;
$line-h: 1.8;
$secondary: rgb(66, 66, 66);
$ortopediaColor: #002751;
$regeneracjaColor: #650008;


$phone: "(min-width: 480px)";
$small-tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$wide: "(min-width: 1350px)";
$desktop: "(min-width: 1600px)";