.c-nav {
  width: 100%;
  position: relative;
}

.c-hamburger__inner::after,
.c-hamburger__inner::before,
.c-hamburger__inner {
  background-color: #666;
}

.c-hamburger__inner--active::after,
.c-hamburger__inner--active::before {
  background-color: white;
}

.c-menu {
  overflow: hidden;
}

.c-menu--disactive {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1024px) {
  .c-menu {
    height: auto;
    width: 100%;
    padding: 2rem 1rem;
    color: #666;
  }
}

.c-menu-nav__link--active {
  border-bottom: 1px solid #666;
}

@media (min-width: 1024px) {
  .c-menu-nav__link:hover {
    border-bottom: 1px solid #666;
  }
}

.c-header-section__title {
  color: #424242;
  font-size: calc(50px + (72 - 24) * ((100vw - 300px) / (1600 - 300)));
  margin: 2rem 0;
}

.l-footer {
  margin-top: 5rem;
}

.c-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-about__img-wrapper {
  background: url("./../../assets/eskulap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 40rem;
  min-height: 35rem;
  display: none;
  position: relative;
}

.c-about__img-more {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  background-color: rgba(102, 102, 102, 0.9);
  width: 100%;
  color: white;
}

.c-about__text {
  padding: 2%;
}

@media (min-width: 1024px) {
  .c-about {
    padding: 5rem;
  }
  .c-about__img-wrapper {
    display: block;
  }
  .c-about__text {
    width: 70%;
  }
}

.l-hours {
  text-align: center;
}

.c-hours {
  -webkit-columns: 2;
          columns: 2;
  margin-bottom: 5rem;
  max-width: 50rem;
  display: inline-block;
}

.c-hours__item {
  margin-bottom: 2rem;
}

.section-subtitle {
  text-align: start;
  padding-left: 5%;
  margin-bottom: 2rem;
  margin-top: 10rem;
  font-size: 2rem;
}

.c-cards {
  margin-bottom: 5rem;
}

.c-map {
  margin-bottom: -5rem;
}

.c-header-section {
  color: #424242;
  grid-column: span 12;
}

.c-header-section__title {
  margin-left: auto;
  margin-right: auto;
}

.l-pricer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  gap: 3rem;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.l-pricer > * {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .l-pricer {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .l-pricer > * {
    grid-column: span 6;
  }
}

@media (min-width: 1024px) {
  .l-pricer {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .l-pricer > * {
    grid-column: span 4;
  }
}

@media (min-width: 1350px) {
  .l-pricer {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .l-pricer > * {
    grid-column: span 3;
  }
}

.l-pricer > * {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .l-pricer > * {
    grid-column: span 6;
  }
}

@media (min-width: 1350px) {
  .l-pricer > * {
    grid-column: span 4;
  }
}

.c-pricer {
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  color: black;
}

.c-pricer__item {
  padding-bottom: 2rem;
}

.c-pricer__title {
  font-size: 2.8rem;
  color: #002751;
}

.c-pricer__item-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #002751;
  padding: 1rem;
  color: white;
  cursor: pointer;
  -webkit-transition: border-radius .5s;
  transition: border-radius .5s;
}

.c-pricer__item-title-wrapper--active {
  border-radius: 10px 10px 0 0;
}

.c-pricer__item-title, .c-pricer__item-titles-wrapper {
  pointer-events: none;
}

.c-pricer__item-titles {
  padding: .5rem 0;
}

.c-pricer__item-title-icon {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  pointer-events: none;
}

.c-pricer__item-title-icon--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-pricer__sub-item {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-pricer__sub-item:nth-child(2n) {
  background-color: #a1a1a1;
}

.c-pricer__sub-item:last-child {
  border-radius: 0 0 10px 10px;
}

.c-pricer__sub-list {
  max-height: 0;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
}

.c-pricer__sub-item-price {
  font-weight: bold;
}

.c-pricer:nth-child(3) .c-pricer__item-title-wrapper {
  background-color: #650008;
}

.c-pricer:nth-child(3) .c-pricer__title {
  color: #650008;
}

.c-pricer:nth-child(2) .c-pricer__item-title-wrapper {
  background-color: #666;
}

.c-pricer:nth-child(2) .c-pricer__title {
  color: #666;
}
/*# sourceMappingURL=subpages.css.map */